<vc-wallet-layout>
  <div body class="container ">
    <h5 body-title>Choose which credential you want to share</h5>
    <vc-input-scheme></vc-input-scheme>
    <div class="button-container">
      <mat-button-toggle-group [(ngModel)]="this.type" (change)="update($event.value)">
        <mat-button-toggle *ngFor="let option of this.options;" [value]="option">{{ option.type }}</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-button-toggle-group [(ngModel)]="this.format" *ngIf="this.type?.subOptions" (change)="update($event.value)">
        <mat-button-toggle *ngFor="let option of this.type?.subOptions;" [value]="option">{{ option.format }}
        </mat-button-toggle>
      </mat-button-toggle-group>

      <mat-button-toggle-group [(ngModel)]="this.auth" *ngIf="this.type?.subOptions && this.type?.subOptions"
                               (change)="update($event.value)">
        <mat-button-toggle *ngFor="let option of this.format?.subOptions;" [value]="option">{{ option.auth }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <vc-body-actions [actions]="this.actions" (clicked)="submit()"></vc-body-actions>
  </div>
</vc-wallet-layout>
